* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: monospace;
  color: #f8f8f2;
}
body {
  margin-left: auto;
  margin-right: auto;
  width: 80vw;
  background-color: #4c4a3e;
}
a {
  cursor: pointer;
}
a:hover {
  color: #fd5ff0;
  transition: 0.3s;
}
header {
  display: flex;
  justify-content: space-between;
}

.pedro {
  margin-top: 2vh;
  margin-left: 7vw;
  color: #ee256c;
  font-size: 500%;
}
.curriculo {
  margin-top: 5vh;
  margin-right: 10vh;
  color: #a6e22e;
  margin-left: 5vw;
  font-size: 800%;
}
.main {
  border-top: 1px solid #a6e22e;
  border-left: 1px solid #a6e22e;

  height: fit-content;
}
.menu {
  height: 7vh;

  background-color: #75715e;

  margin-top: 1vh;
}
.menu ul li a {
  background-color: #75715e;
}
.nav {
  display: flex;
}
nav {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
nav .menu ul li ul {
  list-style: none;
  padding: 0;
  position: relative;
}
.menu ul ul {
  display: none;
}
.menu ul li:hover ul {
  display: block;
}

.menu ul li ul li a:hover {
  color: #66d9ef;
}
.nav-item {
  list-style-type: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  font-size: x-large;
}
.cor2 {
  background-color: #75715e;
}

.centro {
  margin-left: 50vw;
}
header {
  padding: 20px 0;
}
.subtitulo-cor {
  color: #ee256c;
}
.subtitulo {
  margin-top: 4vh;
  margin-left: 2vh;
  font-size: 250%;
}
h3 {
  font-size: x-large;
  margin-left: 2vw;
  margin-top: 12vh;
}
.subtitulo-cor2 {
  color: #ade2e3;
}
.cont-main {
  border-left: 1px solid #f8f8f2;
  height: fit-content;
  margin-left: 3vw;

  width: 60vw;
}
.cont-sub {
  border-left: 1px solid #f8f8f2;
  margin-left: 2vw;
}
.cont {
  color: #d5c141;
  margin-top: 3vh;
  margin-left: 4vw;
  font-size: x-large;
  text-align: justify;
  text-justify: inter-word;
}
.cont-2 {
  color: #d5c141;
  margin-top: 3vh;
  margin-left: 4vw;
  font-size: large;
  text-align: justify;
  text-justify: inter-word;
}
.glass {
  background: rgba(76, 74, 62, 0.23);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(117, 116, 139, 0.833);
  padding: 20px;
}
.eventos {
  width: 30vw;
}
.marcador {
  color: #ae81ff;
}
.marcador2 {
  color: #66d9ef;
}
.small {
  font-size: large;
}
.grid {
  display: grid;
  grid-template-columns: 35vw 35vw;
  grid-template-rows: 50% 50%;

  justify-content: space-evenly;

  margin-left: 15vw;
}

.grid div {
  height: 22vw;
  width: 35vw;
  background: #369fea;
  background: radial-gradient(#369fea 0%, #85a49c 80%);
  background: -webkit-radial-gradient(#369fea 0%, #85a49c 80%);
  background: -moz-radial-gradient(#369fea 0%, #85a49c 80%);
  margin-bottom: 2vh;
  opacity: 0.9;
  margin-left: 2vw;
  border-radius: 8px;
}
.grid div img {
  height: auto;
  width: 80%;
  margin-top: 5%;
  margin-left: 3%;
  margin-bottom: 3%;
}
.grid div span {
  font-size: x-large;
  color: #a6e22e;
  background-color: #75715e00;
  margin-left: 5%;
}
.grid div span a {
  background-color: #75715e00;
}
.grid div p {
  font-size: large;
  color: #151943;
  background-color: #75715e00;
  margin-left: 5%;
  margin-right: 5%;
}
.grid-r {
  border-left: 1px solid #1519434d;
}
.grid-l {
  border-right: 1px solid #1519434d;
}
#pokedeximg,
#MGEimg {
  width: 60%;
  height: auto;
  margin-left: 20%;
}
.cont-main img {
  margin-left: 5%;
  margin-top: 5%;
}
.icon {
  height: 7vh;
  width: auto;
}
.contatos {
  display: flex;
}
.contatos div {
  margin-top: 7%;
}
#ALOimg {
  width: 45%;
  height: auto;
  margin-left: 20%;
}
.eventos {
  width: 75vw;
}
.eventos img {
  width: 30vw;
}
#pato {
  width: 10vw;
}
#susi {
  width: 20vw;
}
.footer {
  height: 20vh;
  width: 100vw;
  background-color: #75715e;
  position: relative;
}
.link-final {
  font-size: xx-large;
  margin-left: 30vw;
  margin-top: auto;
}
.link {
  height: 20vh;

  margin-top: 20vh;
  margin-bottom: 05vh;
}
#sus1 {
  color: #66d9ef;
}
#sus2 {
  color: #fd971f;
}
iframe {
  margin-top: 3vh;
  margin-left: 5vw;
  height: 60vh;
  width: 60vw;
}
